<a href="https://colab.research.google.com/github/IsisGuedes/ironhack-data-analytics/blob/main/Python_Variables_and_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Exercise - Variables

1.1 For the following variables, use the function type() from Python to check the data type for the variables.

In [1]:
x1 = 1.1
x2 = "Ironhack"
x3 = "1.1"
x4 = True
x5 = "True"
x6 = -1

In [13]:
type(x6)

int

1.2 What is the difference between variables x1 and x3?

In [9]:
type(x1)

float

In [10]:
type(x3)

str

1.3 What happens if you subtract x3 from x1?

In [6]:
x3 - x1

TypeError: ignored

1.4 What is the difference between variables x4 and x5?

In [11]:
type(x4)

bool

In [12]:
type(x5)

str

1.5 What happens if you subtract x5 from x4?

In [8]:
x5 - x4

TypeError: ignored

# 2. Exercise - Operators

2.1 In this problem we will show you how to take a user input. To gather input from the user, we can use the function input(message), where “message” is a meaningful message of type str and will be displayed to the user.
Use the code and then answer the questions that follow:

In [14]:
x1 = input("Please enter an integer number: ")
x2 = input("Please enter another integer number: ")

Please enter an integer number: 2
Please enter another integer number: 5

Each input() function will be run sequentially. Each of them will display a cell box waiting for you to input a value and press intro to confirm. You can check this because on the left of the input cell you will see a star symbol as shown here telling you that the computer is waiting for you to input a value. After you input a value, the star symbol will disappear and the next input() function will be executed displaying again a cell box alongside a star symbol waiting for you to input a new value. It’s important to keep in mind that when a code cell has a star symbol, you will not be allowed to run any other cell until the star symbol disappears.

Question 1: Print the values of the two variables? As you might have noticed, data type of x1 and x2 is string. Even though we entered integers, the input function converts them into string by default. Now we do some data type conversion from string to integers:

In [15]:
x1

'2'

In [16]:
x2

'5'

In [17]:
type(x1)

str

In [18]:
x1 = int(x1) # This converts string into integer and re-initializes `x1`
x2 = int(x2) # This converts string into integer and re-initializes `x2`

**Question 2**: What is the data type of x1 and x2? Now perform simple comparisons between x1 and x2:
Check if the two variables are equal?
Check if x1 is greater than x2?
Check if x2 is greater than x1?
Check if x1 is not equal to x2?
Store the difference between the two variables x1 and x2 in another variable x3 (subtract the smaller number from the larger number).
Increment the smaller of the two variables (x1 and x2) with the difference.Use the shorthand addition operator for the same. Again check if x1 and x2 are equal or not?

**2.2** In the lesson, we talked about math library in Python. Here is a link to the math library documentation. Go through the documentation and try any 3 or more functions on a numerical variable that were not described in the lesson.

In [19]:
type(x1)

int

In [20]:
type(x2)

int

In [25]:
if x1 == x2:
  print ("the two variables are equal")
else:
  print("the two variables are different")

the two variables are different

In [26]:
if x1 > x2:
  print (x1, " > ", x2)
else:
  print(x1, " < ", x2)

2  <  5

In [27]:
if x1 < x2:
  print (x1, " < ", x2)
else:
  print(x1, " > ", x2)

2  <  5

In [28]:
if x1 != x2:
  print (x1," is not equal to ",x2)
else:
  print(x1," is equal to ",x2)

2  is not equal to  5

In [29]:
x3 = x1 - x2
x3

-3

In [36]:
if x1 < x2:
  x4 = x1
else:
  x4 = x2
x4

2

In [37]:
x5 = x4 + x3
x5

-1

In [38]:
x1 == x2

False